:root {
    --black-color: #130e10;
    --dark-color: #634c59;
    --light-color: #d8ebf5;
    --lilac-color: #c5bbda;
    --font-title: 'Shantell Sans';
    --font-important: 'Comfortaa';
    --font-text: 'Jura';
}